MONGODB_URL=mongodb://localhost:27017/mailhawk
PORT=3000
JWT_SECRET=replace_with_a_long_random_secret
GROQ_API_KEY=replace_with_groq_key
AWS_REGION=ap-south-1
S3_BUCKET_NAME=mailhawk
AWS_ACCESS_KEY_ID=replace_with_iam_access_key
AWS_SECRET_ACCESS_KEY=replace_with_iam_secret_key
